.dynamic-from{

  .form-actions{
    display: flex;
    justify-content: flex-end;

    .save-btn{
      color:white;
    }

  }

   .input-group__details:before {
    background-color: rgba(0,0,0,0.12) !important;
  }
}